<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Send your prayer requests, share your testimonies, spread the word of God." />
    <title>Community</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/common/site.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/common/modal.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/community.css" />
    <script src="js/lib/jquery-3.3.1.js"></script>
    <script src="js/lib/vue.js"></script>
    <script src="js/common/site.js"></script>
    <script src="js/common/modal.js"></script>
</head>
<body>
    <header>
        <div></div>
        <nav id="navigation">
            <a href="index.html">HOME</a>
            <a href="community.html">COMMUNITY</a>
            <a href="contact.html">CONTACT</a>
            <span v-if="isLoggedIn == true"><a href="#" onclick="Logout()">LOG OUT</a></span>
            <span v-else><a href="signup.html">SIGN UP</a></span>
        </nav>
    </header>
    <div id="praise">
        <div>
            <h2>PRAISE REPORT</h2>
        </div>
    </div>
    <center>
        <div id="praiseReport">
            <div v-for="item in result" v-on:click="GoToDetails(item.id)" class="reports">
                <img v-if="item.image_url != '' && item.image_url != null" v-bind:src="item.image_url" />
                <img v-else src="images/request.jpg" />
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.message}}</p>
                </div>
            </div>
            <div onclick="VisitPage('praise.html')" id="newPraise" class="reports">
                <div>
                    <center>
                        <h3 style="color:#ffffff;">Share your experiences!</h3>
                    </center>
                </div>
            </div>
        </div>
    </center>
    <div id="community">
        <h1>Prayer Wall</h1>
        <p>We believe that God wants healing in our lives and works in a variety of ways to provide for our well-being. The Heartwise Prayer Forum has been developed to facilitate sharing one’s prayer requests, lifting up others in prayer, and sharing praises of how God has worked in your life. We hope that this is a place that you will visit often and that you will be blessed as God leads us to experience healing. If you would like someone to call to pray with you, please contact us.</p>
        <div id="prayerWall">
            <table>
                <thead>
                    <tr>
                        <th style="width: 70%;">Prayer Request</th>
                        <th>Request From</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in result">
                        <td v-on:click="GoToDetails(item.id)">
                            {{item.request}}
                            <span>
                                {{item.insert_time}}
                                <span style="display:inline;" v-if="item.publicity == 0">(Private)</span>
                                <span style="display:inline;" v-if="item.has_replies == false">(Unanswered)</span>
                            </span>
                        </td>
                        <td>{{item.firstname}} {{item.lastname}}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="button">
                            <center onclick="VisitPage('request.html')">REQUEST A PRAYER</center>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pager">
                <center><h3>{{page}} / {{totalPages}}</h3></center>
                <button v-on:click="PreviousPage()"><<</button>
                <button v-on:click="NextPage()" style="float:right;">>></button>
            </div>
        </div>
    </div>
    <footer>
        <div id="footerContent">
            <div class="row">
                <div class="column">
                    <h2>INFORMATION</h2>
                    <p>Lorem ipsum dolor sit amet, consecttur adipiscing egestas rhoncus Praesent Nunc pretium est...</p>
                    <p>Email:<br />paolomari.macaraig@yahoo.com.ph</p>
                    <p>Contact:<br />+63 (997) 914-3100</p>
                    <p>Address:<br />#26 Michael Street, Kingsville Subdivision, Antipolo City</p>
                </div>
                <div class="column">
                    <h2>EVENTS</h2>
                    <center>
                        <div class="event">Super Summer Baptism<br /><span>January 29, 2018</span></div>
                        <div class="event">200 Member Milestone<br /><span>January 14, 2018</span></div>
                        <div class="event">Construction Of Our New Church<br /><span>January 7, 2018</span></div>
                        <div class="event">Financial Faith Literacy<br /><span>January 1, 2018</span></div>
                    </center>
                </div>
                <div class="column">
                    <h2>NEWS LETTER</h2>
                    Sign up for our mailing list to get latest updates and offers.<br />
                    <input type="text" placeholder="Email Address" /><br />
                    <button>SUBMIT</button>
                </div>
            </div>
        </div>
        <div id="credits">- Tenderfoot 2018 -</div>
    </footer>
    <div id="modalShadow" class="unshow"></div>
    <div id="indexModal" class="modal unshow" style="width:400px;height:200px;">
        <center>
            <button onclick="HideModal('indexModal')">Close</button>
        </center>
    </div>
    <script src="js/main.js"></script>
    <script src="js/community.js"></script>
</body>
</html>