<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Send your prayer requests, share your testimonies, spread the word of God." />
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/common/site.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/common/modal.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/signup.css" />
    <script src="js/lib/jquery-3.3.1.js"></script>
    <script src="js/lib/vue.js"></script>
    <script src="js/common/site.js"></script>
    <script src="js/common/modal.js"></script>
</head>
<body>
    <center>
        <div id="logo"></div>
        <div id="signIn">
            <h2>SIGN IN</h2>
            <p style="text-align: left;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <input v-model="username" type="text" placeholder="Username" />
            <input v-model="password" type="password" placeholder="Password" />
            <button v-on:click="Login()">SIGN IN</button>
            <p>Don't have an account yet? <a href="signup.html">Sign Up</a>.</p>
            <div id="modalMessage" class="modal unshow" style="width:300px;bottom:inherit;padding:5%">
                <p v-html="messages"></p>
                <button onclick="HideModal()">Close</button>
            </div>
        </div>
    </center>
    <div id="modalShadow" class="unshow"></div>
    <div id="indexModal" class="modal unshow" style="width:400px;height:200px;">
        <center>
            <button onclick="HideModal('indexModal')">Close</button>
        </center>
    </div>
    <div id="modalShadow" class="unshow"></div>
    <div id="modalLoading" class="modal unshow"></div>
    <script src="js/signin.js"></script>
</body>
</html>