#community {
    padding: 2%;
    margin: 3%;
    border: 1px solid #dddddd;
}

table {
    margin: 20px;
    border-collapse: collapse;
    width: 95%;
    box-shadow: 0px 0px 25px -8px;
}

    table td, table th {
        border: 1px solid #dddddd;
        padding: 8px;
    }

    table tr:hover {
        background-color: #cdcdcd;
        cursor: pointer;
    }

    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #114859;
        color: white;
    }

    table span {
        display: block;
        font-size: 12px;
        margin: 5px;
        color: #808080;
    }

    table .button {
        background-color: #d2691e;
        color: #ffffff;
        padding: 15px 40px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
    }

        table .button:hover {
            background-color: #7a3d12;
        }