body {
    background-image: url('../images/request.jpg');
    background-size: cover;
}

#innerRequest {
    background-color: #ffffff;
    width: 90%;
    margin: 45px 0px;
    text-align: left;
    overflow: hidden;
    box-shadow: 0px 0px 25px -8px;
    height: 1250px;
    opacity: 0.98;
}

    #innerRequest h1 {
        text-align: center;
        color: #d2691e;
    }

    #innerRequest input {
        left: 0;
        width: 50%;
        position: relative;
    }

    #innerRequest textarea {
        width: 90%;
        height: 300px;
    }

    #innerRequest button {
        margin: 10px 0px;
        width: 90%;
    }

#left {
    padding: 5%;
    width: 65%;
    float: left;
}

#right {
    background-color: #114859;
    color: #ffffff;
    padding: 3%;
    right: 0;
    width: 18%;
    float: right;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    #innerRequest {
        overflow: scroll;
    }
    
    #left {
        width: 90%;
    }

    #right {
        display: none;
    }
}