body {
    background-image: url('../images/signup.jpg');
    background-position: center;
    background-size: cover;
}

#signUp, 
#signIn {
    background-color: #ffffff;
    position: relative;
    width: 50%;
    padding: 5%;
    margin: 5%;
    box-shadow: 0px 0px 25px -8px;
}

    #signUp input, 
    #signIn input {
        width: 90%;
    }

    #signUp button, 
    #signIn button {
        margin: 10px 0px;
        width: 90%;
    }

    #signUp a, 
    #signIn a {
        font-weight: bold;
        color: #d2691e;
        transition: 0.3s;
    }

        #signUp a:hover, 
        #signIn a:hover {
            color: #7a3d12;
        }

#logo {
    background-image: url('../images/logo.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 50px;
}

@media screen and (max-width: 1024px) {
    #signUp,
    #signIn {
        width: 80%;
    }
    
        #signUp input,
        #signIn input {
            width: 70%;
        }

        #signUp button,
        #signIn button {
            width: 70%;
        }
}